<div class="products__section">
  @if (groupResponse) {
    <h1 class="containerprice__title">Calculos realizados: </h1>
    <div class="containerprice">
      @for (item of groupResponse.generalGroup; track $index) {
        <h1>Group {{$index+1}}</h1>
        @for (product of item.copies; track $index) {
            <h2 class="container__index">{{$index+1}}</h2>
            <app-multipleprice-response-element class="containerprice__inner" [item]="product"></app-multipleprice-response-element>
        }
        <h1 class="containerprice__title">Precio: {{item.pricePerGroup}} </h1>
        <h1 class="containerprice__title">Descuento Mayor: {{item.discountMayorPerGroup}} </h1>
        <h1 class="containerprice__title">Descuento customer: {{item.discountCustomerPerGroup}} </h1>
        <h1 class="containerprice__title">Incremento: {{item.incrementDetalPerGroup}} </h1>
      }
      <h1 class="containerprice__title">Precio total: {{groupResponse.priceTotal}} </h1>
      <h1 class="containerprice__title">Descuento total Mayor: {{groupResponse.discountMayorTotal}} </h1>
      <h1 class="containerprice__title">Descuento total customer: {{groupResponse.discountCustomerTotal}} </h1>
      <h1 class="containerprice__title">Incremento total: {{groupResponse.incrementTotal}} </h1>
    </div>
  }
  <div class="principal__title">
    <h3 class="groups__title">Productos Disponibles</h3>
  </div>
  <div class="groups__container">
    @for (product of products; track $index) {
      <div class="groups__div">
        <app-product-item-element class="groups__item" [product]="product"></app-product-item-element>
      </div>
    }
  </div>
  <div class="button__container">
    <button class="groups__button" (click)="agregarAgrupacion()" [disabled]="!hasStockProducts()">Añadir Nueva Agrupación</button>
    <button class="groups__button" (click)="enviarAgrupaciones()" [disabled]="agrupaciones.length === 0">Enviar Agrupaciones</button>
  </div>
  <div class="groups__container">
    @for (seleccionado of seleccionados; track $index) {
      <div class="groups__div">
        <app-product-item-element [product]="seleccionado"></app-product-item-element>
      </div>
    }
  </div>
  <div class="principal__title">
    <h3 class="groups__title">Agrupaciones</h3>
  </div>

  @for (agrupacion of agrupaciones; track $index) {
    <div class="group__confirmation">
      <p >Grupo {{ $index + 1 }} Se ha añadido el grupo correctamente.</p>
    </div>
  }

</div>
