/* Navigation Variables */
.navigation {
  height: 70px;
  background: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Logo and branding */
.brand {
  text-transform: uppercase;
  font-size: 1.4em;
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* Container with no padding for navbar */
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Navigation */
nav {
  display: flex;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  background: #2581DC;
  color: #ffffff;
}

nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

/* Dropdown list */
nav ul li ul {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  background: #262626;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

nav ul li:hover ul {
  display: block;
}

/* Mobile navigation */
.nav-mobile {
  display: none;
}

#nav-toggle {
  display: none;
  cursor: pointer;
  padding: 10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 799px) {

  .nav-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
  }

  #nav-toggle {
    display: block;
  }

  .brand {
    padding-left: 0;
  }

  nav.show {
    display: flex;
  }
}
article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
