<section class="products__section">
  @if (multiplePriceResponse) {
  <h1 class="containerprice__title">Calculos realizados: </h1>
  <div class="containerprice">
    @for (item of multiplePriceResponse.copiesResponse; track $index) {
    <div class="containerprice__card">
      <h2 class="container__index">{{$index+1}}.</h2>
      <app-multipleprice-response-element class="containerprice__inner" [item]="item" />
    </div>
    }

  </div>
  <h2 class="total__price">Precio Total: {{multiplePriceResponse.priceTotal}}</h2>
  <h2 class="total__price">Descuento al mayor Total: {{multiplePriceResponse.discountMayorTotal}}</h2>
  <h2 class="total__price">Descuento cliente Total: {{multiplePriceResponse.discountCustomerTotal}}</h2>
  <h2 class="total__price">Incremento Total: {{multiplePriceResponse.incrementTotal}}</h2>
  }@else{
  <div class="products__tutorial_container">
    <h2 class="products__tutorial_title">Calcular Precio </h2>
    <p class="products__tutorial_desc">Escoge la cantidad de productos que requieras y obtendras el precio y sus
      descuentos, el boton estara habilitado hasta que escojas almenos un producto</p>
  </div>
  }
  <app-button-api-element class="products__button_element" [products]="products" (eventEmmitter)="emit()"/>
  <article class="products__grid">
    @for (product of products; track $index) {
    <app-product-item-element [product]="product" />
    }
  </article>
</section>
