<div class="product__item">
  @if (product.type == "NOVEL") {
    <img src="/assets/img/novela.png" height="50" alt="imagen de novela">
  }@else if (product.type == "BOOK") {

    <img src="/assets/img/libro.png" height="50" alt="imagen de libro">
  }
  <p class="product__name">{{product.title}}</p>

  <p class="product__desc">Precio: ${{product.finalPrice}}</p>
  @if (product.type == "NOVEL") {
    <p class="product__desc">Tipo: Novela</p>
  }@else if (product.type == "BOOK") {
    <p class="product__desc">Tipo: Libro</p>
  }
  <app-quantity-element [product]="product" [max]="1"/>
</div>
