<section class="containerprice__inner">
  <div>
      <p class="item__name">Nombre: {{item.title}}</p>
      <p>Precio final: {{item.price}}</p>
      @if (item.copyType== 'BOOK') {
        <p>Tipo de Producto: Libro</p>
      }@else if (item.copyType== 'NOVEL') {
        <p>Tipo de Producto: Libro</p>
      }
      <div>
        <p>Descuento al por mayor: {{redondearNumero(item.discountMayor?? 0) }}</p>
        <p>Descuento por cliente: {{redondearNumero(item.discountCustomer?? 0) }}</p>
        <p>Incremento al por menor: {{redondearNumero(item.increment ?? 0)}}</p>
      </div>
  </div>
</section>
