<section class="products__section">
  @if (budgetResponse) {
  <h1 class="containerprice__title">Calculos realizados: </h1>
  <div class="containerprice">
    @for (item of budgetResponse.copiesResponse; track $index) {
    <div class="containerprice__card">
      <h2 class="container__index">{{$index+1}}.</h2>
      <app-budget-item-element class="containerprice__inner" [item]="item" />
    </div>
    }
  </div>
  }@else {
  <div class="products__tutorial_container">
    <h2 class="products__tutorial_title">Calcular Presupuesto </h2>
    <p class="products__tutorial_desc">Escoge la cantidad de productos que requieras y añade tu presupuesto, el boton
      estara deshabilitado hasta que escojas almenos 1</p>
  </div>
  }

  <form [formGroup]="applyForm">
    <div class="number__input_container">
      <input type="number" class="styled_input" formControlName="budget" placeholder="budget">
      @if (budget.invalid && (budget.dirty || budget.touched)) {
      <div class="form__error">Budget is Required</div>
      }

      <app-button-api-element class="products__button_element" [products]="products" (eventEmmitter)="emit()" />

    </div>
  </form>
  <article class="products__grid">
    @for (product of products; track $index) {
    <app-budget-element [product]="product" />
    }
  </article>
</section>
