<section class="products__section">

  <div class="products__tutorial_container">
    <h2 class="products__tutorial_title">Calcular Presupuesto </h2>
    <p class="products__tutorial_desc">Escoge la cantidad de productos que requieras y añade tu presupuesto, el boton
      estara deshabilitado hasta que escojas almenos 1</p>
  </div>
  <form [formGroup]="applyForm">
    <div class="number__input_container">
      <input type="number" class="styled_input" formControlName="budget" placeholder="budget">
      @if (budget.invalid && (budget.dirty || budget.touched)) {
      <div class="form__error">Budget is Required</div>
      }

      <app-button-api-element class="products__button_element" [products]="products" (eventEmmitter)="emit()" />

    </div>
  </form>
  <article class="products__grid">
    @for (product of products; track $index) {
    <app-budget-element [product]="product" />
    }
  </article>
</section>
<div class="modal" [ngClass]="{'show':showModal}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Calculos realizados</h5>
        <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>
      <div class="modal-body">
        @if (budgetResponse) {
          <table class="table table-bordered">
            <thead>
              <th>title</th>
              <th>author</th>
              <th>cantidad</th>
              <th>precio</th>
            </thead>
            <tbody>
              @for (copy of  budgetResponse.copiesResponse; track $index) {
                <tr>
                  <td>{{copy.title}}</td>
                  <td>{{copy.author}}</td>
                  <td>{{copy.stock}}</td>
                  <td>{{copy.finalPrice | currency}}</td>
                </tr>
              }
            </tbody>
          </table>
        }
      </div>
    </div>
  </div>
</div>
