
<footer>
<div class="copyright">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <span>Copyright © 2024, All Right Reserved Brian Torres</span>
          </div>
          <!-- End Col -->
          <div class="col-md-6">
              <div class="copyright-menu">
                  <ul>
                      <li>
                          <a  href="https://github.com/Bryanzdruls/PinguineraReduxFront/tree/main/src/app/core">Home</a>
                      </li>
                      <li>
                          <a href="https://medium.com/@ryhl/crear-vistas-y-carpetas-en-jenkins-ac4f78dc577d">Terms</a>
                      </li>
                      <li>
                          <a href="https://www.alcaldiabogota.gov.co/sisjur/normas/Norma1.jsp?i=4125">Privacy Policy</a>
                      </li>
                      <li>
                          <a href="https://www.linkedin.com/in/soybriantorres/">Contact</a>
                      </li>
                  </ul>
              </div>
          </div>
          <!-- End col -->
      </div>
      <!-- End Row -->
  </div>
  <!-- End Copyright Container -->
</div>
<!-- End Copyright -->
<!-- Back to top -->

<!-- End Back to top -->
</footer>
